{% extends "app.html" %}
{% block content %}

<div class="container-fluid m-0 p-0">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center;">Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" style="text-align: center;">
      <h2>
        Indicators
      </h2>
    </div>
    <div class="col-lg-6" style="text-align: center;">
      <h2>
        Graphs
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" style="background-color: lightblue;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="container-fluid">
              <canvas id="batteryIndicator"></canvas>
              <script>
                const ctx_batteryInd = document.getElementById('batteryIndicator').getContext('2d');
                var battery_percentage = 55;
                var xValues = [];
                var yValues = [battery_percentage, 100-battery_percentage];
                var barColors = ["blue", "white"];
                var battery_soc = new Chart(ctx_batteryInd, {
                  type: "doughnut",
                  data: {
                    labels: xValues,
                    datasets: [{
                      backgroundColor: barColors,
                      data: yValues
                    }]
                  },
                  options: {
                    title: {
                      display: true,
                      text: "Battery SOC"
                    }
                  }
                });
              </script>
            </div>
          </div>
          <div class="col-lg-6" style="background-color: grey;">
            Indicator
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" style="text-align: center;">
      <div class="container-fluid">
        <div class="row"></div>
          <div class="container-fluid">
            <canvas id="myChart"></canvas>
            <script>
              const ctx = document.getElementById('myChart').getContext('2d');
              const myChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                      datasets: [{
                          label: '# of Votes',
                          data: [12, 19, 3, 5, 2, 3],
                          backgroundColor: [
                              'rgba(255, 99, 132, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(255, 206, 86, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(153, 102, 255, 0.2)',
                              'rgba(255, 159, 64, 0.2)'
                          ],
                          borderColor: [
                              'rgba(255, 99, 132, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(255, 206, 86, 1)',
                              'rgba(75, 192, 192, 1)',
                              'rgba(153, 102, 255, 1)',
                              'rgba(255, 159, 64, 1)'
                          ],
                          borderWidth: 1
                      }]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
              });
              
            </script>
          </div>
        </div>
        <div class="row">
          <div class="container-fluid">
            <canvas id="myScatterChart" width="max"></canvas>
            <script>
              const ctx_scatter = document.getElementById('myScatterChart').getContext('2d');
              var xyValues = [
                {x:50, y:7},
                {x:60, y:8},
                {x:70, y:8},
                {x:80, y:9},
                {x:90, y:9},
                {x:100, y:9},
                {x:110, y:10},
                {x:120, y:11},
                {x:130, y:14},
                {x:140, y:14},
                {x:150, y:15}
              ];

              new Chart(ctx_scatter, {
                type: "scatter",
                data: {
                  datasets: [{
                    pointRadius: 4,
                    pointBackgroundColor: "rgba(0,0,255,1)",
                    data: xyValues
                  }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
              });
            </script>
          </div>
        </div>

        <div class="row">
          <div class="container-fluid">
            <canvas id="myLineChart" width="max"></canvas>
            <script>
              const ctx_line = document.getElementById('myLineChart').getContext('2d');
              var xValues = [100,200,300,400,500,600,700,800,900,1000];

              new Chart(ctx_line, {
                type: "line",
                data: {
                  labels: xValues,
                  datasets: [{
                    data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
                    borderColor: "red",
                    fill: false
                  },{
                    data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
                    borderColor: "green",
                    fill: false
                  },{
                    data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
                    borderColor: "blue",
                    fill: false
                  }]
                },
                options: {
                  legend: {display: false},
                  maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}